<div class="navigator z-20" *ngIf="isMobile" [class.top-scroll]="onScrollTop">
  <mat-toolbar role="heading" class="p-0" aria-level="1">
    <div class="mat-toolbar-single-row p-0 ">
      <div class="toolbar-item h-full">
        <a mat-button color="accent">
          <img (click)="toggleSidebar()" width="30" height="30" class="rounded-circle logo" alt="logo" src="../../assets/newspaper.png" />
        </a>

        <div class="mat-h1 m-0 mr-4">
          <button mat-button [matMenuTriggerFor]="menu" class="mat-h1 text-2xl title mb-0">
           {{ (selectedCategory$ | async)?.title }} <mat-icon>expand_more</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <mat-nav-list>
              <a  mat-list-item *ngFor="let vnCategory of vietnameseCategories" [routerLink]="vnCategory.name" [routerLinkActive]="'active'">
                <div class="flex items-center">
                  <ng-container *ngIf="vnCategory.image; else categoryIcon">
                    <img width="24" height="24" class="mr-2" [src]="vnCategory.image" [alt]="vnCategory.name" />
                  </ng-container>
                  <ng-template #categoryIcon>
                    <mat-icon class="mr-2" [style.color]="vnCategory.color">{{ vnCategory.icon }}</mat-icon>
                  </ng-template>
        
                  <div class="mat-h3 m-0">{{ vnCategory.title }}</div>
                </div>
              </a>
</mat-nav-list>
           
            
          </mat-menu>
     
        </div>
      </div>
    </div>
  </mat-toolbar>
</div>
