@import '~@angular/material/theming';

$card-height: 9em;
.mat-card {
  cursor: pointer;
  padding: 1em;
  height: $card-height;

  &:hover ::ng-deep .image {

    transform: scale(1.1);
  }

  .image-wrapper {
    width: 12em;
    height: 7em;
  }

  &.is-read:not(.active) {
    opacity: 0.7;
  }


  .last-child {
    margin-bottom: 0;
  }


  &:hover, &.active {
    @include mat-elevation(5);

  }


  &.active {
    background-color: #e5e5e5;
  }


  .title {

    line-height: 1.3em !important;
  }


  &.large-image {

  }

}
