<div class="container-fluid">
    <div class="row">
        <mat-card (click)="onSelectStory()" [routerLink]="story.id" class="mb-2 pt-0 pt-sm-2 w-100"
                  routerLinkActive="active">
            <mat-card-content class="last-child">
                <div class="w-100">
                    <div class="row">
                        <div class="col-12 col-sm-3" style="overflow: hidden">
                            <img
                                    [src]="story.imagePath"
                                    class="mt-0 mb-0 "
                                    defaultImage="../../assets/loading.png"
                                    mat-card-image
                                    offset="0"
                            >

                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <h5 class="mt-sm-0 mt-1">{{story.title}}</h5>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <footer class="blockquote-footer text-right">
                                        <cite title="Source Title"> {{story.storyMeta.source}} </cite>
                                        {{story.storyMeta.time | amTimeAgo}}

                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div *ngIf="selected && isSmallScreen" class="d-block d-sm-none row">
                    <app-inline-article (onClosed)="selected=false" [story]="story"
                                        class="w-100 d-block"></app-inline-article>

                </div>
            </mat-card-content>
        </mat-card>
    </div>

</div>
