@import '~@angular/material/theming';

.mat-card {
  cursor: pointer;
  margin: 0 1px;



  .last-child {
    margin-bottom: 0;
  }

  .image-wrapper {
    position: relative;

    .videocam {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }


  &:hover, &.active {
    @include mat-elevation(5);

  }

  &.active {
    background-color: #e5e5e5;
  }
}

.mat-card:hover /deep/ img {

  transform: scale(1.1);
}
