<mat-card (click)="navigate(story)" class="mb-2" matRipple routerLinkActive="active">
    <mat-card-content class="last-child">
        Text content
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <img [src]="story.imagePath" alt="Photo of a Shiba Inu" mat-card-image>

                </div>
                <div class="col-7">
                    <mat-card-title>{{story.title}}</mat-card-title>

                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>