
img {
  transition: all linear 0.2s;
  object-fit: contain;
  max-height: 200px;
}

.mat-card {
  cursor: pointer;
  margin: 0 1px;

  .last-child {
    margin-bottom: 0;
  }


  &:hover {
    img {
      transform: scale(1.1);
    }
  }

  &.active {
    background-color: #e5e5e5;
  }
}

mat-expansion-panel-header {
  height: auto !important;
  padding:0;

  ::ng-deep .mat-expansion-indicator {
    display: none !important;
  }
}