<div class="py-2">
    <div class="container-fluid">
        <div class="row comment">
            <div class="avatar">
                <app-image-viewer [imagePath]="comment.avatar" width="30" height="30" diameter="30"></app-image-viewer>
            </div>
            <div class="commennt col">
                <span class="display-name pr-1">{{comment.displayName}}: </span>
                <span class="comment mat-body pr-1">{{comment.comment}}</span>
                <span class="mat-small display-name pr-1"> - {{comment.date * 1000|amTimeAgo}}:</span>

            </div>
        </div>
    </div>
</div>