iframe{
    height: 500vh;
    border: none;
    background-color: white;
}
:host-context(.mobile-device){
    iframe{
        
        width: 100vw !important;
        margin-top: 1rem;
        margin-left: calc((100% - 100vw) / 2);
    }
}
