<mat-menu #menu="matMenu" [classList]="'mat-menu-display'" xPosition="before">
  <button *ngIf="isMobile" mat-menu-item (click)="$event.stopPropagation()" class="flex items-center">
    <span>Sáng</span>
    TODO darkmode
    <!-- <mat-slide-toggle class="mx-2" [ngModel]="(config$ | async).darkTheme" (ngModelChange)="toggleDarkMode($event)"></mat-slide-toggle> -->
    <span>Tối</span>
  </button>

  <div mat-menu-item>
    <span class="text-sm">A</span>
    <mat-slider
      class="mx-2"
      (input)="changeFontSize($event)"
      [ngModel]="(config$ | async).fontSize"
      [min]="minFontSize"
      [max]="maxFontSize"
      step="1"></mat-slider>

    <span class="text-2xl">A</span>
  </div>
</mat-menu>
<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Display">
  <mat-icon color="accent">more_vert</mat-icon>
</button>
