body {
  .mat-menu-display {
    width: auto;
    min-width: none;
    max-width: none;

    .mat-menu-content {
      padding: 10px;
      display: grid;
      grid-template: auto auto / auto 1fr;
      align-items: center;
      grid-gap: 10px;

      .size-slider {
        width: 200px;
      }
    }
  }
}

.icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  nz-slider {
    flex: 1;
  }

  .text-icon {
    color: var(--hightlight-color);

    &:first-child {
      left: 0;
      font-size: 13px;
      padding-right: 1em;
    }

    &:last-child {
      right: 0;
      font-size: 20px;
      padding-left: 1em;
    }
  }
}
