
<div class="story-list">
    <div style="padding-top: 58px;">

        <app-mobile-story  #storyMobile [story]="openningStory" *ngIf="openningStory"
        class="d-block story" [index]="0"></app-mobile-story>

        <div class="stories" *ngIf="stories.length>0;else loadingStory">
            <ng-container *ngFor="let item of stories;trackBy:trackByFn" >
                <app-mobile-story #storyMobile [story]="item"
                class="d-block story" [index]="stories.indexOf(item)"></app-mobile-story>

            </ng-container>
            <div class="py-3 text-center" (appIsIntersect)="loadMoreStories()">Load more</div>

        </div>


        <ng-template #loadingStory>
            <ng-container *ngFor="let i of loadingStories">
                <app-loading-story class="loading-story p-2" ></app-loading-story>
                <mat-divider></mat-divider>
            </ng-container>


        </ng-template>
        <div class="blur-edge blur-bottom" *ngIf="stories"></div>

    </div>

</div>