<div class="story-list">
    <div class=" " *ngIf="isBrowser">
        <virtual-scroller #scroll
                          (vsUpdate)="vsUpdate()"
                          (vsEnd)="vsEnd()"
                          [enableUnequalChildrenSizes]="true"
                          [items]="stories"
                          [parentScroll]="scroll.window"
                          [modifyOverflowStyleOfParentScroll]="false"
                          [compareItems]="compareItem"
                          [useMarginInsteadOfTranslate]="true"
                          [bufferAmount]="5"
                          [checkResizeInterval]="0"
                          [scrollThrottlingTime]="500"
                          *ngIf="stories.length>0"
        >
            <app-mobile-story
                    *ngFor="let item of scroll.viewPortItems;" [story]="item"
                    class="d-block" [index]="stories.indexOf(item)"></app-mobile-story>


        </virtual-scroller>
        <div class="blur-edge blur-bottom" *ngIf="stories"></div>

    </div>


    <button mat-icon-button class="move-to-top fadein" color="primary" (click)="moveTop($event)"
            *ngIf="isShowMoveTop">
        <mat-icon class="mat-accent">play_circle_filled</mat-icon>
    </button>
</div>
