:host {
  display: contents;

  .content {
    display: block;
    margin-left: -1rem;
    margin-right: -1rem;
  }

}

.wrapper {
  position: relative;
  width: 100%;
  padding-top: 60%;

  .thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .title-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(rgba(74, 74, 77, 0.8),
        rgba(0, 0, 0, 0.8));
    padding: 0 1rem;
    // background-color: rgba(74,74,77,0.8);
  }


}

.sticky {
  padding-top: 0;
  top: 0;
  position: sticky;
  margin-left: -1rem;
  margin-right: -1rem;

  .sticky-wrapper {
    background: none;
    top: 0;
    bottom: unset;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    animation: article-header-stick 200ms linear;
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(var(--background-color-2-code), 0.6);
    padding: 0 1rem;
    .article-header {
      display: flex;
  
      height: 50px;
      align-items: center;

      .article-title {
        font-size: 25px;
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all 200ms linear;
      }
      app-action{
        align-self: baseline;
      }
    }
  }

  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;


  
}