$nav-height: 64px;
a.active {
  background-color: rgba(66, 133, 244, 0.149);
  color: #1a73e8;
}

.mat-divider {
  display: inline;
  height: 40px;
  margin: 1em;
}

:host {
  display: block;
  max-height: $nav-height;
  overflow: visible;
}

nav {
  z-index: 1;
  &.hide {
    height: 0;
    overflow: hidden;
  }

}
