<mat-card (click)="onSelectStory()" class="m-0 p-0" [class.read]="isRead" [routerLink]="[friendlyUrl,story.id]"
    [class.active]="(isActive$ | async)" [skipLocationChange]="true" [class.selected-before]="isSelectedBefore"
    [ngClass]="[(config$ | async).smallImage?'small-image':'large-image',story.isRead?'is-read':'not-read']">
    <mat-card-content class="m-0  card-content p-2">
        <div class="image p-0 pl-sm-1 pr-sm-1 inline-block" style="overflow: hidden">
            <app-image-viewer *ngIf="story.getThumbnail()" [imagePath]="story.getThumbnail()"
                [hasVideo]="story.hasVideo" [alt]="story.title" [parallax]="selected" [startOffsetParllax]="60" class="h-full w-full">
            </app-image-viewer>
        </div>


        <div class="flex mat-title mb-0 title">
            {{story.title }}
        </div>
        <app-story-meta [story]="story" class="meta"></app-story-meta>
        <app-inline-article *ngIf="selected" (click)="$event.stopPropagation()" (onClosed)="close()"
            [story]="story" class=" block content-article">

        </app-inline-article>

    </mat-card-content>
</mat-card>
<mat-divider></mat-divider>