@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$candy-app-primary: mat-palette($mat-deep-purple);
$candy-app-accent: mat-palette($mat-amber, A200, A100, A400);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent);

// Include the default theme styles.
@include angular-material-theme($candy-app-theme);


$light-background-dark: #e5e5e5;


// Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue);
$dark-accent: mat-palette($mat-blue, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

$dark-background-selected: #696969;
$dark-background-light: rgb(74, 74, 77);
$dark-background-gray: rgba(48, 48, 48, 1);
$dark-background-gray-transparent: rgba(48, 48, 48, 0);


.unicorn-dark-theme {
  @include angular-material-theme($dark-theme);
  background-color: $dark-background-gray !important;

  .article > div {
    color: rgba(255, 255, 255, 0.78) !important;
    background-color: $dark-background-light !important;

  }

  mat-card {
    &.active {
      background-color: $dark-background-light !important;
    }
  }

  .mat-toolbar.mat-primary {
    background-color: $dark-background-gray !important;
  }

  .border {
    border: 1px solid rgba(255, 255, 255, 0.12);
  }

  &:not(.small-device) {
    .mat-toolbar.mat-primary {
      background-color: $dark-background-gray-transparent !important;
      box-shadow: none;
    }

    mat-card {
      &.active {
        background-color: $dark-background-selected !important;
      }
    }
  }

  input {
    background-color: #424242;

  }

  .primary-text {
    color: rgba(255, 255, 255, 0.78);
  }

}

.unicorn-light-theme {
  @include angular-material-theme($candy-app-theme);

  &:not(.small-device) {

    .mat-toolbar.mat-primary {
      background-color: $dark-background-gray-transparent !important;
      box-shadow: none;
    }

    .article > div {
      background-color: $light-background-dark;

    }
  }

  input {
    background-color: #9b73d3;
  }

  .primary-text {
    color: rgba(0, 0, 0, 0.87)
  }


}

.unicorn-dark-theme, .unicorn-light-theme {
  mat-toolbar {
    @include mat-elevation(5);
    position: relative;
    z-index: 2;
  }

  mat-list-item.active {

    background-color: #448aff !important;
    color: white !important;
  }

  @media (min-width: 1500px) {
    .container {
      max-width: 1400px;
    }
  }


}


