/* Add application styles & imports to this file! */
@import "~bootstrap/scss/bootstrap";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:focus {
    outline: none;
}

.body-image img {
    width: 100% !important;
    height: auto;
}

.body-video video {
    width: 100%;
    height: auto;
}

a:hover {
    text-decoration: none;
}

html {
    font-size: 1rem;
}


.scrollable{
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}


.fadein{
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



/* Added */
.material-icons.material-icons--outline {
    font-family: 'Material Icons Outline';
}

button:focus{
    outline: none;
}
