@import "animations";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

html {
  font-size: 1rem;
}


.scrollable,body {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

}



.fadein {
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Added */
.material-icons.material-icons--outline {
  font-family: 'Material Icons Outline';
}

button:focus {
  outline: none;
}

.blur-edge {
  &.blur-top {
    top: 0;

  }

  &.blur-bottom {
    bottom: 0;
  }

  height: 30px;
  z-index: 999;
  position: absolute;
  width: 100%;
  left: 0;

}

.app:not(.small-device) {

  .scrollable, .vertical.selfScroll {


    &::-webkit-scrollbar {
      width: 5px
    }

    /* background of the scrollbar except button or resizer */
    &::-webkit-scrollbar-track {
      background-color: transparent;

    }

    /* scrollbar itself */
    &::-webkit-scrollbar-thumb {
      background-color: #babac0;
      border-radius: 16px;
      border: 4px solid transparent;
    }

    /* set button(top and bottom of the scrollbar) */
    &::-webkit-scrollbar-button {
      display: none
    }
  }
}
