<ng-container *ngIf="{ thumbnail: story.getThumbnail() } as data">
  <div
    (click)="onSelectStory()"
    class="p-0 desktop-story"
    [class.active]="isActive$ | async"
    [class.read]="story.id| isRead : category | async"
    [ngClass]="[ (story.id| isRead : category | async) ? 'is-read' : 'not-read']"
    matRipple>
    <mat-card-content class="card-content">
      <app-image-viewer *ngIf="data.thumbnail" class="image-viewer" [imagePath]="data.thumbnail" [hasVideo]="story.hasVideo"></app-image-viewer>

      <div class="mt-sm-0 mt-1 mat-title mb-0 title mr-3">{{ story.title }}</div>
      <app-story-meta class="metadata" [story]="story"></app-story-meta>
    </mat-card-content>
  </div>
  <mat-divider ></mat-divider>
</ng-container>
