@import '@angular/material/theming';

$card-height: 120px;
:host{

  .desktop-story {

    cursor: pointer;
    overflow: hidden;
    background-color: var(--background-color-2) !important;
    opacity: 1;
  
    .card-content {
      min-height: $card-height;

      display: grid;
      grid-template: 1fr 40px / #{$card-height} 1fr;
      grid-template-areas: 'thumbnail title' 'thumbnail metadata';
      height: 100%;
      column-gap: 10px;
  
      .image-viewer {
        grid-area: thumbnail;
        border-radius: 0.5rem;
      }
      .title {
        grid-area: title;
        font-size: 1.1rem;
        overflow: hidden;
        line-height: 1.3em !important;
        display: -webkit-box !important;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: max-content;
      }
      .metadata {
        grid-area: metadata;
      }
    }
  
    &.desktop-story {
      &:hover ::ng-deep .image-viewer img.image {
        transform: scale(1.1);
      }
    }
    &.is-read:not(.active) {
      opacity: 0.7;
    }
  
    .last-child {
      margin-bottom: 0;
    }
  
    .title {
      transition: var(--text-transition);
      font-size: 1.1rem;
      overflow: hidden;
    }
  

    &:hover,
    &.active {
      // @include mat-elevation(5);
  
      .title {
        color: var(--highlight-color) !important;
      }
    }
  
    &.active {
      background-color: #e5e5e5;
    }
  
    .title {
      line-height: 1.3em !important;
    }
  }

  
}
