<ng-container *ngIf="{ data: (data$ | async) } as imageData">
  <img
    *appShellNoRender="true"
    [appParallax]="parallax"
    [maxParallax]="maxParallax"
    [startOffsetParallax]="startOffsetParllax"
    class="mt-0 mb-0 image hoverZoom float-left"
    [offset]="500"
    [alt]="alt"
    [lazyLoad]="imageData.data.imagePath"
    defaultImage="assets/loading-image.png"
    #image
    [width]="imageData.data.width"
    [height]="imageData.data.height" />

  <img
    *appShellRender
    class="mt-0 mb-0 image hoverZoom float-left"
    [alt]="alt"
    [src]="imageData.data.imagePath"
    #image
    [width]="imageData.data.width"
    [height]="imageData.data.height" />
</ng-container>

<mat-icon *ngIf="hasVideo" class="videocam mat-primary">videocam</mat-icon>
