.mat-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0.7;
}
:host-context(.mobile-device) {
  height: auto !important;
}

:host-context(.desktop-device) {
  .main {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .app {
    max-width: 1600px;
    width: calc(100% - 100px);
    margin: 0 auto;

    .mat-drawer,
    mat-sidenav-container {
      background-color: transparent;
      border: none;
    }
  }
}
:host {
  .app {
    width: 100vw;
    height: 100%;
  }
}

.main-content {
  flex: 1;
  overflow: hidden;
  height: 100%;
}

.backdrop {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: 0;
}
