
<div *ngIf="isShowProgressBar$ | async">
  <mat-progress-bar @opacityNgIfNoDelay mode="indeterminate"></mat-progress-bar>
</div>
<div [@.disabled]="isNode" [class.no-transition]="isNode" class="app mat-app-background app flex items-center">
  <ng-container *ngIf="thumbnail$ | async as data">
    <div *ngIf="!isSmallDevice && data">
      <div class="backdrop" [style.background-image]="'url(' + bgImage + ')'" *ngFor="let bgImage of [data]" @opacityNgIf></div>
    </div>
  </ng-container>

  <div class="main-content">
    <mat-sidenav-container class="h-full">
      <mat-sidenav
        *appShellNoRender="isSmallDevice"
        [(opened)]="isOpenSidebar"
        [mode]="isSmallDevice ? 'push' : 'side'"
        [fixedInViewport]="isSmallDevice">
        <app-sidebar class="block"></app-sidebar>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="navigator">
          <app-navigator></app-navigator>
        </div>
        <app-main class="main"></app-main>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
