<footer class=" text-right   justify-content-start d-flex align-items-end pt-1">   
    <a mat-button  target="_blank" class="d-flex px-1" [href]="story.originalUrl" (click)="openSource($event)">
        Nguồn<app-image-viewer class="icon mr-1 pl-1" [imagePath]="story?.storyMeta?.sourceIcon" [alt]="story?.storyMeta?.source"></app-image-viewer>
        
    </a> 
    <span class="time ml-2 flex-grow-1 text-left">{{story.storyMeta.time | toNow }}</span>

    <mat-icon *ngIf="story.isFavorite" color="primary" class="fadeInDown">favorite
    </mat-icon>
</footer>
