.story-list {
  background-color: var(--background-color-3);
}

.move-to-top {
  position: fixed;
  bottom: 2rem;
  right: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-icon {
    width: auto;
    height: auto;
    font-size: 3rem;
    transform: rotate(270deg);
  }
}

.blur-edge {
  position: fixed;
}
