<mat-expansion-panel [ngClass]="breakpoint.isSmallScreen?'small':'big'" *ngIf="comments && comments.length>0">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <div class="mat-subtitle">{{comments.length}} bình luận</div>

        </mat-panel-title>
    </mat-expansion-panel-header>


    <ng-template matExpansionPanelContent>
        <div *ngFor="let comment of comments">
            <mat-divider></mat-divider>
            <app-comment [comment]="comment"></app-comment>
        </div>
    </ng-template>

</mat-expansion-panel>
