@import "../article.component";
.no-transition{
  * {
    transition: none !important;
    animation: none im !important;
  }
}
.article {

  background-color: transparent !important;

  &.cdk-drag-dragging {
    transition: none;
  }

  .article-view {
    transition: opacity 0.2s linear;




  }

  .favorite {
    position: sticky;
    top: 100px;
    z-index: 10;

  }

  .article-body {
    //background-color: white;
    margin: 0;

    ::ng-deep {
      img {
        transform: scale(1) !important;
        max-width: 100%;
      }

      .thumbnail-inner{
        margin-bottom: 1rem;
      }

  
    }
  
  }



}

.font-size-1 {
  font-size: 14px;
}

.font-size-2 {
  font-size: 16px;
}

.font-size-3 {
  font-size: 18px;

}