<div class="w-100 article animated faster" #articleView  (swipeRight)="swiperight($event)" (swipeLeft)="swipeleft($event)"
     [ngClass]="{fadeOutRight:isFaddingRight,fadeOutLeft:isFaddingLeft}">
    <div class="text-right">
        <button mat-icon-button class="fadein close-icon" (click)="close($event)" #closeIcon>
            <mat-icon class="mat-primary">cancel</mat-icon>
        </button>
    </div>

    <div #articleBodyWrapper>
        <div *ngIf="article;else loading">
            <p [innerHTML]="article.body" class="article-body fadein ">
            </p>
            <div class="source text-right">
                <a mat-button [href]="article.externalUrl" target="_blank"
                   color="primary">Nguồn: {{article.story.storyMeta.source}}</a>
            </div>
        </div>
    </div>

    <ng-template #loading>
        <app-loading></app-loading>
    </ng-template>
</div>
