<div class="panel-primary article" #articleView (swipeleft)="onPanEnd('left')"
(swiperight)="onPanEnd('right')"
 [@swipe]="animationName"
    [ngStyle]="{'font-size.px':fontSize}">
    <div #articleBodyWrapper class="article-view">
        <div *ngIf="article;else loading" [@showArticle]="isCollapseArticle" (@showArticle.done)="animEnd($event)"
            style="overflow: hidden">

            <app-actions [wrapperElement]="articleBodyElement" (onClosed)="collapseArticle()" [article]="article"></app-actions>
            <div #articleBodyElement>
                <p [innerHTML]="article.description | sanitizeHtml" class="article-body fadein "></p>
                <p #articleContent [innerHTML]="articleBody | sanitizeHtml" class="article-body fadein "></p>
            </div>

            <div class="source text-right mb-3">
                <a mat-button [href]="article.sourceUrl" rel="noreferrer" target="_blank" color="accent">
                    <span>Nguồn:</span>
                    <img class="d-inline-block ml-2"
                    [alt]="article.story.storyMeta.source" *ngIf="article.story.storyMeta.source" 
                    height="20"
                    [lazyLoad]="article.story.storyMeta.source" defaultImage="assets/news.png"              
                    defaultImage="assets/loading-image.png"
                    />
                </a>
            </div>
            <app-comments class="mb-3" [(isExpanded)]="this.story.isExpandedComment" [articleId]="article.id"></app-comments>


        </div>
    </div>


    <ng-template #loading>
        <app-loading></app-loading>
    </ng-template>
</div>