@import "../../style/variables";

:host {
  height: 100%;
  display: block;
  z-index: 1;
  position: relative;
  --blur-edge-color: var(--background-color-1);
  --blur-edge-transparent-color: var(--background-color-transparent-1);
}
