
body.unicorn-dark-theme {
  --background-color-1: rgb(48, 48, 48); //background
  --background-color-2: rgb(74, 74, 77); //content, active story
  --background-color-transparent-1: rgb(48, 48, 48, 0); //background
  --background-color-transparent-2: rgb(74, 74, 77, 0); //content, active story
  --background-color-3: rgb(66, 66, 66); //story
  --background-color-4: transparent; //sidebar
  --hightlight-color: #40c4ff;


}

body.unicorn-light-theme {
  --background-color-1: rgb(250, 250, 250);
  --background-color-2: rgb(229, 229, 229);
  --background-color-transparent-1: rgb(250, 250, 250, 0);
  --background-color-transparent-2: rgb(229, 229, 229, 0);
  --background-color-3: rgb(255, 255, 255);
  --background-color-4: rgb(250, 250, 250); //sidebae
  --hightlight-color: #40c4ff;;


}


@mixin blur-edge($color,$transparent,$direction-start,$direction-end) {
  background: linear-gradient(to $direction-end, $color 0%, $transparent 100%);
  background: -webkit-gradient(linear, left $direction-start, left $direction-end, color-stop(0%, $color), to($transparent));

}
