<div class="video-component" #videoComponent>
    <a class="cover bg-no-repeat bg-center" (click)="play()" *ngIf="!isPlaying"
       [style.background-image]="'url(' +  poster + ')'">
        <mat-icon color="primary">play_circle_filled</mat-icon>
    </a>
    <iframe #videoFrame allowfullscreen frameborder="0" scrolling="no" referrerpolicy="no-referrer"

            [style.height.px]="heightIframe"></iframe>

</div>
<div class="text-right">



        <a [href]="url" mat-button rel="noreferrer" target="_blank" rel="noreferrer" class="mat-button mat-accent">Mở video</a>

</div>
