.video-component {
  .cover {
    background-size: contain;
    background-color: #323232;
    background-blend-mode: exclusion;

    .mat-icon {
      font-size: 50px;
      width: auto;
      height: auto;
    }
  }
  .iframe-container {
    padding-top: MIN(50vh, var(--height));
  }
}
