.app {

  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    .mat-sidenav-container {

    }
    .mat-drawer, mat-sidenav-container {
      background-color: transparent;
      border: none;
    }

  }
  @media (min-width: 768px) {
    .main-content {
      padding: 0 5em;
      max-width: 1400px;

    }
  }

  .main-content {
    width: 100vw;
    padding :0 1em;
  }


}

.header {
  /*height: 50px;*/
}

.main-content {
  flex: 1;
  overflow: hidden;
}

.backdrop {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: 0;
}

