<div *ngIf="isShowProgressBar">

    <mat-progress-bar @opacityNgIfNoDelay mode="indeterminate"></mat-progress-bar>
</div>
<div class="h-100 app   mat-app-background app d-flex align-items-center">
    <div *ngIf="!isSmallDevice && image">
        <div class="backdrop" [style.background-image]="'url(' +  bgImage + ')'"  *ngFor="let bgImage of [image]"
             @opacityNgIf>
        </div>

    </div>

    <div class="main-content">
        <mat-sidenav-container class="h-100">

            <mat-sidenav [(opened)]="isOpenSidebar" [mode]="isSmallDevice?'push':'side'"
                         [fixedInViewport]="isSmallDevice">
                <app-sidebar class="d-block"></app-sidebar>


            </mat-sidenav>
            <mat-sidenav-content>


                <div class="navigator">

                    <app-navigator></app-navigator>
                </div>
                <app-main class="py-md-2"></app-main>
            </mat-sidenav-content>
        </mat-sidenav-container>

    </div>
</div>

