<div class="h-100 app w-100  mat-app-background app">
    <div class="backdrop" [style.background-image]="'url(' +  image + ')'" *ngIf="!isSmallDevice && image"
         @opacityNgIf></div>

    <div class="main-content container">
        <mat-sidenav-container class="example-container row h-100">
            <mat-sidenav [opened]="isOpenSidebar" #sidenav mode="side" [fixedInViewport]="isSmallDevice">
                <app-sidebar class="d-block"></app-sidebar>


            </mat-sidenav>
            <mat-sidenav-content>


                <div class="navigator">

                    <app-navigator class="w-100"></app-navigator>
                </div>
                <app-main></app-main>
            </mat-sidenav-content>
        </mat-sidenav-container>

    </div>
</div>

