.mat-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0.7;
}

:host {

  .app {
    width: 100vw;
    max-width: 2000px;
  }


  @media (min-width: 768px) {

    .app {
      width: calc(100% - 100px);
      margin: 0 auto;

    }

  }

}


.app {


  @media (min-width: 768px) {
    .mat-drawer, mat-sidenav-container {
      background-color: transparent;
      border: none;
    }


  }


}

.header {
  /*height: 50px;*/
}

.main-content {
  flex: 1;
  overflow: hidden;
  height: 100%;
}

.backdrop {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: 0;
}

