<button mat-raised-button [matMenuTriggerFor]="menu" color="accent"  *ngIf="selectedCategory">
    <mat-icon class="mr-2">{{ selectedCategory.icon }}</mat-icon>
    <span class="mat-h3 mb-0">{{  selectedCategory.title }}</span>

    <mat-icon>expand_more</mat-icon>
</button>

<mat-menu #menu="matMenu" class="menu-panel">
    <!--Search-->
    <div *ngIf="isMobile" style="height: 50px" (click)="$event.stopPropagation()"
         class="ml-1 mr-1">
        <app-search></app-search>
        <mat-divider class="mt-2"></mat-divider>
    </div>

    <!--Chế độ -->
    <div class="container-fluid">
        <div class="row">
            <button mat-menu-item (click)="$event.stopPropagation()" *ngIf="isMobile"
                    class="col-12">
                <mat-slide-toggle labelPosition="before" class=" h-full" [(ngModel)]="isSmallImage"
                                  (change)="toogleDisplay()">
                    Chế độ ảnh nhỏ
                </mat-slide-toggle>

            </button>

            <!--Theme-->
            <button mat-menu-item (click)="$event.stopPropagation()" class="col-12">
                <mat-slide-toggle labelPosition="before" class=" h-full" [(ngModel)]="isDarkMode"
                                  (change)="toggleDarkMode()">
                    Chế độ ban đêm
                </mat-slide-toggle>

            </button>
        </div>

    </div>


    <!--Categories-->


    <mat-divider></mat-divider>
    <div class="container category-container">
        <div class="row">


            <div class="container-fluid">
                <div class="primary-text mat-h2">Vietname</div>

                <div class="row">


                    <div *ngFor="let category of vietnameseCategories " class="col-6">

                        <app-category [category]="category" class="pt-2 block"></app-category>

                    </div>
                </div>
            </div>

            <mat-divider class=" mt-2"></mat-divider>
            <div class="container-fluid">
                <div class="primary-text mat-h2">English</div>

                <div class="row">


                    <div *ngFor="let category of englishCategories " class="col-6">

                        <app-category [category]="category" class="pt-2 block"></app-category>

                    </div>
                </div>
            </div>
        </div>


    </div>


</mat-menu>




