<div
  appNavigationKeyboard
  (up)="scrollUp()"
  (down)="scrollDown()"
  (left)="prevArticle()"
  (right)="nextArticle()"
  class="h-full article relative mat-elevation-z8"
  [ngStyle]="{ 'font-size.px': fontSize$ | async }"
  #rootArticle>
  <div class="navigator navigator-prev">
    <a (click)="prevArticle()" mat-icon-button>
      <mat-icon>chevron_left</mat-icon>
    </a>
  </div>
  <div class="scrollable" #articleView appSmoothScroll>
    <div *ngFor="let id of [articleId]" style="position: relative" class="h-full panel-primary">
      <div class="article-content px-2 pb-5 panel-primary">
        <app-article-thumbnail
          [rootArticle]="rootArticle"
          [thumbnailPath]="(selectedStory$ | async)?.thumbnail"
          [header]="(selectedStory$ | async)?.header"
          [articleCategory]="(selectedStory$ | async)?.articleCategory"
          [articleId]="(selectedStory$ | async)?.articleId"></app-article-thumbnail>

          <ng-container *ngIf="(viewInSource$ | async) === false;else viewInSource">
            <ng-container *ngIf="article;else loading">
              <p [innerHTML]="article.description | sanitizeHtml" class="article-body fadein" *ngIf="article.description"></p>

              <p [innerHTML]="articleBody | sanitizeHtml" class="article-body fadein" #articleContent></p>
            </ng-container>
            
          </ng-container>

        <ng-template #viewInSource>
          <app-article-iframe [url]="(selectedStory$ | async)?.externalUrl" class="block h-auto"></app-article-iframe>
        </ng-template>
        <div class="source text-right mb-3">
          <a mat-button [href]="(selectedStory$ | async)?.externalUrl" rel="noreferrer" target="_blank" color="accent">
            <span>Nguồn: &nbsp;</span>
            <img
              class="inline-block ml-2 source-icon"
              [alt]="(selectedStory$ | async)?.sourceName"
              height="20"
              [src]="(selectedStory$ | async)?.sourceIcon" />
          </a>
        </div>
      </div>
      <ng-template #loading>
        <app-loading class="p-2"></app-loading>
      </ng-template>
    </div>
  </div>
  <div class="blur-edge blur-bottom"></div>
  <div class="navigator navigator-next">
    <a (click)="nextArticle()" mat-icon-button>
      <mat-icon>chevron_right</mat-icon>
    </a>
  </div>
</div>
