@import "./article-content";

:host {
  --blur-edge-color: var(--background-color-2);
  --blur-edge-transparent-color: var(--background-color-transparent-2);

  height: 100%;
  display: block;

  .navigator {
    position: absolute;

    top: 0;
    height: 100%;
    display: flex;
    align-items: center;

    z-index: 99;
    overflow: hidden;

    a {
      background-color: var(--background-color-1);
      opacity: 0.3;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0;
      width: 23px;
      transition: all 0.5s linear;

      &:hover {
        opacity: 1;
      }
    }

    &.navigator-prev {
      left: 0;
    }

    &.navigator-next {
      right: 0;
    }

  }
}

.article-body {
  font-size: 1.3em;
  line-height: 1.5em;

  img {
    width: 100% !important;
  }

  ::ng-deep{
    .thumbnail-inner{
      margin-bottom: 1rem;
    }
  }


}
.source{
  .source-icon{
    height: 20px;
    width: auto;
  }
}

.loading {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
:host{
  ::ng-deep {
    img{
      max-width: 100%;
      height: auto;

    }
  }

} 

@keyframes article-header-stick {
  from {
    transform: translateY(-50%);
  }

  to {
    transform: translateY(0);
  }
}

.article-body {
  padding-top: 0.6em;
}

.blur-edge {
  width: calc(100% - 8px);

}

