<div class="h-100 story-list">
    <div #scrollingBlock class="scrollable"> 
        <div class="blur-edge blur-top" *ngIf="stories && (this.scrollPosition$ | async ) > 10"></div>

        
        <ng-container *ngIf="stories.length>0">
            <app-story [category]="category" (onSelectedStory)="onSelectedStory($event)"  #story  *ngFor="let item of stories;trackBy:trackByFn " [story]="item"
                 class="d-block pb-2" ></app-story>
        </ng-container>         
        <ng-container *ngIf="stories.length<10">
            <app-loading-story *ngFor="let i of loadingStories" class="loading-story pb-2"></app-loading-story>
        </ng-container>
        <div class="p-2 text-center">
            <div class="py-3 text-center" (appIsIntersect)="loadMoreStories.emit()">Load more</div>

        </div>

        <ng-template #loadingStory>
            <app-loading-story *ngFor="let i of loadingStories" class="loading-story pb-2"></app-loading-story>
        </ng-template>
        <div class="blur-edge blur-bottom" *ngIf="stories"></div>

    </div>


</div>