@import '@angular/material/theming';

:host {
  --blur-edge-color: var(--background-color-2);
  --blur-edge-transparent-color: var(--background-color-transparent-2);
}

.story-list {
  position: relative;
  padding: 0 1px;
  max-height: 100%;

  .blur-edge {
    width: calc(100% - 5px);
  }
}
