@import '@angular/material/theming';

:host {
  --blur-edge-color: var(--background-color-2);
  --blur-edge-transparent-color: var(--background-color-transparent-2);
}

.story-list {
  position: relative;
  padding: 0 1px;
  max-height: 100%;

  overflow: hidden;
  &.story-list-desktop{
    background-color: rgba(74,74,77,0.7);
  }

  .blur-edge {
    width: 100%;
  }
}
