<div class="h-full story-list story-list-desktop rounded-lg">
  <div #scrollingBlock class="scrollable">
    <div class="blur-edge blur-top rounded-t-lg" *ngIf="stories && (this.scrollPosition$ | async) > 10"></div>

    <ng-container *ngIf="firstStory">

      <app-story *ngIf="firstStory.story |async" [category]="category" (onSelectedStory)="onSelectedStory($event)" [story]="firstStory.story | async" class="block ">
      </app-story>
      <app-loading-story *ngIf="!(firstStory.story | async)" class="loading-story pb-2"></app-loading-story>

    </ng-container>
    <app-story
      [category]="category"
      (onSelectedStory)="onSelectedStory($event)"
      #story
      *ngFor="let item of stories | filter:filterFirstStory.bind(this); trackBy: trackByFn"
      [story]="item"
      class="block"></app-story>

    <app-loading-story (appIsIntersect)="loadMoreStories.emit()" class="loading-story pb-2"></app-loading-story>
    <ng-container *ngIf="stories.length < 5">
      <app-loading-story *ngFor="let i of loadingStories" class="loading-story pb-2"></app-loading-story>
    </ng-container>

    <ng-template #loadingStory>
      <app-loading-story *ngFor="let i of loadingStories" class="loading-story pb-2"></app-loading-story>
    </ng-template>
    <div class="blur-edge blur-bottom rounded-b-lg" *ngIf="stories"></div>
  </div>
</div>
