<div class="main-content h-100 container">
    <div class="row h-100">
        <div class="col-md-5 col-12 h-100 px-1">

            <app-mobile-story-list *ngIf="isSmallScreen;else desktopStoryList"></app-mobile-story-list>

            <ng-template #desktopStoryList>
                <app-story-list></app-story-list>

            </ng-template>
        </div>
        <mat-divider vertical *ngIf="!isSmallScreen" class="h-100"></mat-divider>

        <div *ngIf="!isSmallScreen" style="flex:1" class="h-100">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>
