<div class="flex wrapper" #actionsElement>
  <div class="tts">
    <audio controls preload="none" *ngIf="ttsAudioSource[0]" [src]="ttsAudioSource[0].link" type="audio/ogg"></audio>
  </div>
  <div class="text-right" @animate [class.fixed]="isFixedTop" #stickyElement>
    <a mat-icon-button (click)="toggleFavorite()" class="fadein">
      <mat-icon color="accent">
        {{ isFavorite ? 'favorite' : 'favorite_border' }}
      </mat-icon>
    </a>
    <app-share></app-share>

    <app-display></app-display>
    <button aria-label="display" mat-icon-button class="fadein close-icon" (click)="close($event)" *ngIf="onClosed.observers.length > 0">
      <mat-icon class="mat-accent">cancel</mat-icon>
    </button>
  </div>
</div>
