
:host{
  &.is_stuck{
    top :60px !important;
    position: fixed !important;
  }
  right: 0;
  z-index: 1;
  display: block;
  background-color: transparent !important;

}
.fixed {
  position: fixed;
  right: 0px;
  animation: fixed linear 0.5s;
  animation-fill-mode: forwards;
  z-index: 9;
}

@keyframes fixed {
  from {

    top: 0px;

  }
  to {
    top: 60px;
  }

}
