
:host {
  right: 0;
  z-index: 1;
  display: block;
  background-color: transparent !important;

}

.fixed {
  position: fixed;
  right: 0px;
  animation: fixed linear 0.5s;
  animation-fill-mode: forwards;
  z-index: 9;
  top: 0px !important;
  height: 58px;
  display: flex;
  align-items: center;
}

@keyframes fixed {
  from {

    top: 0px;
    opacity: 0

  }
  to {
    top: 5px;
    opacity: 1;
  }

}
