<mat-sidenav-container class="example-sidenav-container h-100"
                       [style.marginTop.px]="false? 56 : 0"
                       >
    <div class="filter h-100 w-100"></div>

    <mat-sidenav mode="push" [(opened)]="isOpenSidebar" [autoFocus]="false"
                 [fixedInViewport]="true" fixedTopGap="56">
        <mat-nav-list>


            <mat-list role="list">
                <h3 mat-subheader>Chủ đề</h3>

                <mat-list-item *ngFor="let category of categories"
                               role="listitem"
                               [routerLink]="category.name"
                               routerLinkActive="active"
                               (click)="toggle()"
                >
                    <mat-icon class="mr-2">{{category.icon}}</mat-icon>
                    <span class="mat-h3 mb-0">{{ category.title }}</span>
                </mat-list-item>
                <mat-divider></mat-divider>

                <h3 mat-subheader>Giao diện</h3>
                <mat-list-item (click)="changeTheme(false)" [class.active]="!configService.getConfig().darkTheme ">
                    <mat-icon class="mr-2">flash_on</mat-icon>
                    <span class="mat-h3 mb-0">Sáng</span>
                </mat-list-item>
                <mat-list-item (click)="changeTheme(true)" [class.active]="configService.getConfig().darkTheme ">
                    <mat-icon class="mr-2">flash_off</mat-icon>
                    <span class="mat-h3 mb-0">Tối</span>
                </mat-list-item>
                <mat-divider></mat-divider>
                <h3 mat-subheader>Hiển thị</h3>
                <mat-list-item (click)="changeDisplay(false)" [class.active]="!configService.getConfig().smallImage ">
                    <mat-icon class="mr-2">flash_on</mat-icon>
                    <span class="mat-h3 mb-0">Ảnh to</span>
                </mat-list-item>
                <mat-list-item (click)="changeDisplay(true)" [class.active]="configService.getConfig().smallImage ">
                    <mat-icon class="mr-2">flash_off</mat-icon>
                    <span class="mat-h3 mb-0">Ảnh nhỏ</span>
                </mat-list-item>
            </mat-list>


        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>