<mat-sidenav-container class="example-sidenav-container h-100"
                       [style.marginTop.px]="false? 56 : 0">
    <mat-sidenav mode="push" [(opened)]="isOpenSidebar" [autoFocus]="false"
                 [fixedInViewport]="true" fixedTopGap="56">
        <mat-nav-list>

            <div class="categories">
                <mat-list role="list">
                    <mat-list-item *ngFor="let category of categories | keyvalue" role="listitem"
                                   [routerLink]="category.key" routerLinkActive="active">
                        {{ category.value.name }}
                    </mat-list-item>
                </mat-list>

            </div>
            <mat-divider></mat-divider>

        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>