:host {
  display: inline-block;
  position: relative;
  overflow: hidden;

  .image {
    width: 100%;
    height: 100%;

    //opacity: 0;
    transition: transform linear 0.5s;

    object-fit: contain;

    &.hoverZoom:hover {
      transform: scale(1.1);
    }

    &.ng-lazyloaded {
     object-fit: cover;

    }

  }

  .videocam {
    position: absolute;
    top: 5px;
    right: 5px;
  }

}
