:host {
  display: inline-block;

  position: relative;

  .image {
    width: 100%;
    height: 100%;

    opacity: 0;
    transition: all linear 0.5s;

    object-fit: cover;

    &.hoverZoom:hover {
      transform: scale(1.1);
    }

    &.ng-lazyloaded {
      opacity: 1;
    }

  }

  .videocam {
    position: absolute;
    top: 5px;
    right: 5px;
  }

}
