<button mat-raised-button [matMenuTriggerFor]="menu" color="accent" class="w-100">
    <mat-icon class="mr-2">{{selectedCategory.icon}}</mat-icon>
    <span class="mat-h3 mb-0">{{ selectedCategory.title}}</span>

    <mat-icon>expand_more</mat-icon>
</button>

<mat-menu #menu="matMenu" [class]="isDarkMode?'unicorn-dark-theme':'unicorn-light-theme'">
    <!--Search-->
    <div *ngIf="breakpointService.isSmallScreen" style="height: 50px" (click)="$event.stopPropagation()" class="ml-1 mr-1" >
        <app-search></app-search>
        <mat-divider class="mt-2"></mat-divider>
    </div>

    <!--Chế độ -->
    <button mat-menu-item (click)="$event.stopPropagation()" *ngIf="breakpointService.isSmallScreen">
        <mat-slide-toggle labelPosition="before" class="w-100 h-100" [(ngModel)]="isSmallImage" (change)="toogleDisplay()">
            Chế độ ảnh nhỏ
        </mat-slide-toggle>

    </button>

    <!--Theme-->
    <button mat-menu-item (click)="$event.stopPropagation()">
        <mat-slide-toggle labelPosition="before" class="w-100 h-100" [(ngModel)]="isDarkMode" (change)="toggleDarkMode()">
            Chế độ ban đêm
        </mat-slide-toggle>

    </button>

    <!--Categories-->


    <mat-divider></mat-divider>
    <button mat-menu-item *ngFor="let category of categories " class="mat-button"
            [routerLink]="category.name" routerLinkActive="mat-accent"
    >
        <mat-icon class="mr-2">{{category.icon}}</mat-icon>

        <span class="mat-h3 mb-0">{{ category.title }}</span>
    </button>


</mat-menu>




