<div class="sidebar p-3">
    <div class="d-flex  align-items-center">
        <img src="../../assets/newspaper.png" alt="logo" class="rounded-circle logo">
        <div class="mat-h1 m-0" mat-button>
            <a href="/" class="col">
                Báo hiếu
            </a>
        </div>
    </div>
    <mat-divider class="my-3"></mat-divider>
    <app-search></app-search>
    <div class="scrollable">
        <mat-nav-list>
            <mat-list-item
                    *ngFor="let vnCategory of vietnameseCategories"
                    [routerLink]="vnCategory.name"
                    routerLinkActive="active">
                <a matLine>{{ vnCategory.title }}</a>

            </mat-list-item>
        </mat-nav-list>


    </div>


</div>
