<div class="loading"
     [ngClass]="[sizeCls,config.getConfig().darkTheme?'dark':'light']">
    <div class="wrapper type-2">
        <div class="wrapper-cell">
            <div class="image-placeholder"></div>

            <div class="text-placeholder">
                <div class="text-line"></div>
                <div class="text-line"></div>
                <div class="text-line"></div>
                <div class="text-line"></div>
                <div class="text-line"></div>
            </div>
        </div>

    </div>
</div>
