img {
  height: 50px;
  width: auto;
  display: inline-block;
  transform: scale(1) !important;;
  border: none;
  animation: run 4s linear infinite;


}

@media (min-width: 576px) {
  img {
    height: 100px;

  }
}

.host {
  border: none;
  overflow: hidden;

}


@keyframes run {
  0%, 100% {
    margin-left: 0;
    transform: scaleX(1);


  }

  49% {
    transform: scaleX(1);

  }
  50% {
    transform: scaleX(-1);
    margin-left: calc(100%);
  }
  99% {
    transform: scaleX(-1);

  }


}

//  #F6F6F6     #F0F0F0
@mixin type2($height,$height-line,$background,$color) {
  .animated-background {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(to right, $background 0%, $color 20%, $background 40%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;
  }
  .wrapper.type-2 {
    padding: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;

    .wrapper-cell {
      display: flex;
      height: $height;

      // Page Elements
      .image-placeholder {
        height: $height;
        width: $height;
        @extend .animated-background;
      }

      .text-placeholder {
        margin-left: 1em;
        flex: 1;
        display: flex;
        align-items: inherit;
        flex-direction: column;
        justify-content: space-between;

        .text-line {
          height: $height-line;
          width: 100%;
          @extend .animated-background;
        }
      }


    }

  }
}


// Animation
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}


.loading {
  &.small {

    @include type2(50px, 10px, #F6F6F6, #e5e5e5);

    &.dark {
      @include type2(50px, 10px,#303030, #4a4a4d);

    }

    .text-line:last-child {
      display: none;
    }
  }

  &.big {
    @include type2(200px, 20px, #F6F6F6, #e5e5e5);

    &.dark {
      @include type2(200px, 20px, #303030, #4a4a4d);

    }
  }

}
