<div class="loading small"
     [ngClass]="[isDarkTheme?'dark':'light']">
    <div class="wrapper type-2">
        <div class="wrapper-cell">
            <div class="image-placeholder"></div>

            <div class="text-placeholder pt-2">
                <div class="text-line"></div>
                <div class="text-line"></div>
                <div class="text-line"></div>
                <div class="text-line"></div>
                <div class="text-line"></div>
            </div>
        </div>

    </div>
</div>
