.big {
  --avatar-width: 200px;
}

.small {
  --avatar-width: 120px;
}

.dark {
  --background-color: rgb(50, 50, 50);
}

.light {
  --background-color: #eff1f6;
}
:host {
  border: none;
  overflow: hidden;
  width: 100%;
  display: inline-block;
}
