

.big {
  --avatar-width: 100%;
  --avatar-height: 297px;
  .avatar-skeleton{
    margin-left: -8px;
    margin-right: -8px;
  }
  .lines-skeleton{
    padding-bottom: 20px !important;
  }
}

.small {
  --avatar-width: 120px;
  --avatar-height: 120px;

}

.dark {
  --background-color: rgb(50, 50, 50);
}

.light {
  --background-color: #eff1f6;
}
:host {
  border: none;
  overflow: visible;
  width: 100%;
  display: inline-block;
}
