@import "~@angular/material/theming";
.story-list {
  position: relative;
  padding: 0 1px;
  max-height: 100%;

  .fixed-close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .move-to-top {

    position: absolute;
    bottom: 0.25rem;
    right: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    mat-icon{
      width: auto;
      height: auto;
      font-size: 3rem;
      transform: rotate(270deg);
    }
  }
}