<div class="h-100 w-100 story-list">
    <div #scrollingBlock class="h-100 scrollable">
        <virtual-scroller #scroll
                          (vsUpdate)="vsUpdate()"
                          (vsEnd)="vsEnd($event)"
                          [enableUnequalChildrenSizes]="true"
                          [checkResizeInterval]="0"
                          [items]="stories"
                          [useMarginInsteadOfTranslate]="true"
                          [bufferAmount]="config.smallImage?10:5"
                          [scrollAnimationTime]="0"
                          [parentScroll]="scrollingBlock"
                          *ngIf="stories"

                          class="w-100">

            <div #container>
                <app-story (onSelectedStory)="onSelectedStory($event)"
                           *ngFor="let item of scroll.viewPortItems" [story]="item"
                           class="d-block"></app-story>
            </div>
            <div class="p-2 text-center">
                <span class="mat-h3">Đang tải</span>
                <button class="loading_icon icon spin-icon" mat-icon-button>
                    <mat-icon>cached</mat-icon>
                </button>
            </div>

        </virtual-scroller>

    </div>


    <button mat-icon-button class="move-to-top fadein" color="primary" (click)="moveTop($event)"
            *ngIf="isSmallScreen && isShowMoveTop">
        <mat-icon class="mat-primary">play_circle_filled</mat-icon>
    </button>
</div>
