<div class="h-100 w-100 story-list">
    <div #scrollingBlock class="h-100 scrollable" *ngIf="isBrowser">
        <div class="blur-edge blur-top" *ngIf="stories"></div>
        <virtual-scroller #scroll
                          (vsUpdate)="vsUpdate()"
                          (vsEnd)="vsEnd($event)"
                          [enableUnequalChildrenSizes]="true"
                          [checkResizeInterval]="0"
                          [items]="stories"
                          [useMarginInsteadOfTranslate]="true"
                          [scrollAnimationTime]="0"
                          [parentScroll]="scrollingBlock"
                          [modifyOverflowStyleOfParentScroll]="false"
                          [compareItems]="compareItem"
                          [bufferAmount]="10"
                          *ngIf="stories"
                          ssrChildWidth="460"
                          ssrChildHeight="144"
                          ssrViewportHeight="798"
                          ssrViewportWidth="1444"

                          class="w-100">


            <div #container *ngIf="!isSmallScreen;else mobileStory">
                <app-story
                        *ngFor="let item of scroll.viewPortItems" [story]="item"
                        class="d-block"></app-story>
            </div>

            <ng-template #mobileStory>
                <app-mobile-story
                        *ngFor="let item of scroll.viewPortItems" [story]="item"
                        class="d-block"></app-mobile-story>
            </ng-template>


            <div class="p-2 text-center">
                <span class="mat-h3">Đang tải</span>
                <button class="loading_icon icon spin-icon" mat-icon-button>
                    <mat-icon>cached</mat-icon>
                </button>
            </div>

        </virtual-scroller>
        <div class="blur-edge blur-bottom" *ngIf="stories"></div>

    </div>


    <button mat-icon-button class="move-to-top fadein" color="primary" (click)="moveTop($event)"
            *ngIf="isSmallScreen && isShowMoveTop">
        <mat-icon class="mat-primary">play_circle_filled</mat-icon>
    </button>
</div>
