<div class="panel-primary article pan-y" #articleView (swipeleft)="onPanEnd('left')" (swiperight)="onPanEnd('right')"
    [@swipe]="animationName" [ngStyle]="{'font-size.px':fontSize}" [@.disabled]="isOpeningArticle"
    [class.no-transition]="isOpeningArticle">
    <div #articleBodyWrapper class="article-view">
        <div *ngIf="article;else loading" [@showArticle]="isCollapseArticle" (@showArticle.done)="animEnd($event)"
            class="overflow-hidden">
            <app-actions [wrapperElement]="articleBodyElement" (onClosed)="collapseArticle()" [article]="article">
            </app-actions>
            <div #articleBodyElement>
                <p [innerHTML]="article.description | sanitizeHtml" class="article-body fadein "></p>
                <p #articleContent [innerHTML]="articleBody | sanitizeHtml" class="article-body fadein "></p>
            </div>

            <div class="source text-right mb-3">
                <a mat-button [href]="article.sourceUrl" rel="noreferrer" target="_blank" color="accent">
                    Nguồn:&nbsp;
                    <img class="inline-block ml-2 source-icon" [alt]="article.story?.storyMeta?.source" 
                        [src]="article.story?.storyMeta?.sourceIcon"/>
                </a>
            </div>


        </div>
    </div>


    <ng-template #loading>
        <app-loading class="mt-3"></app-loading>
    </ng-template>
</div>