<div
  class="panel-primary article pan-y"
  (swipeleft)="onPanEnd('left')"
  (swiperight)="onPanEnd('right')"
  [@swipe]="animationName"
  [ngStyle]="{ 'font-size.px': (fontSize$ | async) }">
  <div #articleBodyWrapper class="article-view">
    <div *ngIf="article; else loading" [@showArticle]="isCollapseArticle" (@showArticle.done)="animEnd($event)" class="overflow-hidden">
      <app-actions [articleElement]="this.articleView" (onClosed)="collapseArticle()" [articleCategory]="(selectedStory$ | async)?.articleCategory" [articleId]="(selectedStory$ | async)?.articleId" > </app-actions>
      <div #articleBodyElement>
        <ng-container *ngIf="(viewInSource$ | async) === false; else viewInSource">
          <p [innerHTML]="article.description | sanitizeHtml" class="article-body fadein"></p>
          <p #articleContent [innerHTML]="articleBody | sanitizeHtml" class="article-body fadein"></p>
        </ng-container>
        <ng-template #viewInSource>
          <app-article-iframe [url]="article.externalUrl" class="block h-auto"></app-article-iframe>
        </ng-template>
      </div>

      <div class="source text-right mb-3">
        <a mat-button [href]="article.sourceUrl" rel="noreferrer" target="_blank" color="accent">
          Nguồn:&nbsp;
          <img class="inline-block ml-2 source-icon" [alt]="article.sourceName" [src]="article.sourceIcon" />
        </a>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <app-loading class="mt-3"></app-loading>
  </ng-template>
</div>
