@import "../story.component";

:host {
  .first-story{
    padding-top: 55px;
  }
  .mat-card {
    padding: 0.5em 0.5em 0;
    height: initial;

    .image-wrapper {
      width: 100%;
    }

    .image-wrapper {
      flex: none;
    }

    &.large-image {
      .content-story {
        flex-direction: column;
        height: 21em;

        .title-wrapper {
          padding: 0.5em 0;
        }

        .image-wrapper {
          width: 100%;
          height: 13em;
        }
      }
    }

    &.small-image {
      .content-story {
        height: 8em;
        flex-direction: row;

        .title-wrapper {
          padding: 0 0 0 0.5em;
        }
      }

      .image-wrapper {
        width: 80px;
      }
    }
  }

}
