<div #storyElement [style.minHeight.px]="story.height" class="pb-3" [class.first-story]="index===0">

    <mat-card (click)="onSelectStory()" class="m-0 p-0"
              [class.read]="story.isRead"
              [routerLink]="[friendlyUrl,story.id]"
              routerLinkActive="active"
              [class.active]="selected"
              [ngClass]="[config.smallImage?'small-image':'large-image',story.isRead?'is-read':'not-read']"


    >
        <mat-card-content class="m-0">
            <div class="content-story d-flex">
                <app-image-viewer *ngIf="story.images[0]"
                                  [imagePath]="story.images[0].imageUrl" [hasVideo]="story.hasVideo"
                                  [width]="story.images[0].width"
                                  [height]="story.images[0].height"
                                  class="image-wrapper p-0 pl-sm-1 pr-sm-1 d-inline-block" style="overflow: hidden">
                </app-image-viewer>

                <div class="mh-100 d-flex flex-column flex-fill p-2">
                    <div class=" title-wrapper d-flex mat-title mb-0 title" ellipsis #ell="ellipsis"
                         ellipsis-resize-detection="manual">
                        {{story.title }}
                    </div>
                    <app-story-meta [story]="story"></app-story-meta>

                </div>
            </div>
            <app-inline-article *ngIf="story.selected" (click)="$event.stopPropagation()"
                                (onClosed)="close()" [story]="story" (onFinishedGetArticle)="onOpenStory()"
                                class=" d-block content-article">

            </app-inline-article>

        </mat-card-content>
    </mat-card>
</div>
