<div class="container-fluid">
    <div class="row">
        <mat-card (click)="onSelectStory()" class="mb-2 w-100"
                  [class.read]="story.isRead"
                  [routerLink]="[friendlyUrl,story.id]" class="mb-2 w-100"
                  routerLinkActive="active"
                  [class.active]="selected"
                  [ngClass]="[config.smallImage && isSmallScreen?'small-image':'large-image',story.isRead?'is-read':'not-read']"

        >
            <mat-card-content>
                <div class="w-100 content-story d-flex">
                    <div class="image-wrapper p-0 pl-sm-1 pr-sm-1 d-inline-block" style="overflow: hidden">
                        <app-image-viewer 
                                          [imagePath]="story.images[0].imageUrl" [hasVideo]="story.hasVideo"
                                          [width]="story.images[0].width"
                                          [height]="story.images[0].height"></app-image-viewer>

                    </div>
                    <div class="mh-100 d-flex flex-column flex-fill">
                        <div class="col title-wrapper">
                            <div class=" mat-title mb-0 title">{{story.title | truncate:[75]}}</div>
                        </div>
                        <div class=" p-1 flex-fill justify-content-end d-flex align-items-end">
                            <div class="">
                                <footer class="blockquote-footer text-right">
                                    <cite title="Source Title"> {{story.storyMeta.source}} </cite>
                                    <span class="time ml-1">  {{story.storyMeta.time | amTimeAgo | capitalizeFirst}}</span>
                                    <mat-icon *ngIf="story.isFavorite" color="primary" class="fadeInDown">favorite
                                    </mat-icon>

                                </footer>
                            </div>
                        </div>
                    </div>

                </div>


                <div *ngIf="selected" class="d-block content-article" (click)="$event.stopPropagation()">
                    <app-inline-article (onClosed)="selected=false" [story]="story"
                                        class="w-100 d-block"></app-inline-article>

                </div>
            </mat-card-content>
        </mat-card>
    </div>

</div>
