@import "../story.component";

:host {
  .first-story{
    padding-top: 55px;
  }
  .mat-card {
    height: initial;
    border: none;
    box-shadow: none;

    .image-wrapper {
      width: 100%;
      flex: none;

    }
    .title{
      font-size: 1.1rem;
      max-height: 3.6em;
      overflow: hidden;
    }

    &.large-image {
      .content-story {
        flex-direction: column;
        height: 21em;

      }
      app-image-viewer {
        width: 100%;
        height: 70%;
        max-width: 100%;
      }
    }

    &.small-image {
      .content-story {
        height: 8em;
        flex-direction: row;

      }

      app-image-viewer {
        width: 120px;
      }
    }
  }

}
