@import "../story.component";

:host {
  .mat-card {
    height: initial;
    border: none;
    box-shadow: none;

    .card-content {
      display: grid;
      column-gap: 1rem;

      .image {
        grid-area: image;
        width: 100%;
        max-width: 100%;

        flex: none;
        border-radius: 8px;

      }

      .title {
        grid-area: title;
        font-size: 1.1rem;
        max-height: 4em;
        overflow: hidden;
      }

      .meta {
        grid-area: meta;

      }

      .content-article {
        grid-area: content;

      }

    }

    &.large-image {
      .card-content {
        grid-template: auto auto auto auto / 1fr;
        grid-template-areas: "image"
          "title"
          "meta"
          "content";

        .image {

          height: 30vh;
        }
      }
    }

    &.small-image {
      .card-content {
        grid-template: auto auto auto / auto 1fr;
        grid-template-areas: "image title"
          "image meta"
          "content content";

        .image {
          width: 120px;
          height: 120px;
        }
      }

    }






  }

}