<div #storyElement [style.minHeight.px]="story.height" class="pb-2">

    <mat-card (click)="onSelectStory()" class="m-0"
              [class.read]="story.isRead"
              [routerLink]="[friendlyUrl,story.id]"
              routerLinkActive="active"
              [class.active]="selected"
              [ngClass]="[config.smallImage?'small-image':'large-image',story.isRead?'is-read':'not-read']"


    >
        <mat-card-content class="m-0">
            <div class="content-story d-flex">
                <app-image-viewer *ngIf="story.images[0]"
                                  [imagePath]="story.images[0].imageUrl" [hasVideo]="story.hasVideo"
                                  [width]="story.images[0].width"
                                  [height]="story.images[0].height"
                                  class="image-wrapper p-0 pl-sm-1 pr-sm-1 d-inline-block" style="overflow: hidden">
                </app-image-viewer>

                <div class="mh-100 d-flex flex-column flex-fill">
                    <div class="col title-wrapper d-flex mat-title mb-0 title" ellipsis
                         ellipsis-resize-detection="window">
                        {{story.title }}
                    </div>
                    <footer class="blockquote-footer text-right p-1  justify-content-end d-flex align-items-end">
                        <cite title="Source Title"> {{story.storyMeta.source}} </cite>
                        <span class="time ml-1">  {{story.storyMeta.time | amTimeAgo | capitalizeFirst}}</span>
                        <mat-icon *ngIf="story.isFavorite" color="primary" class="fadeInDown">favorite
                        </mat-icon>

                    </footer>
                </div>
            </div>
            <app-inline-article *ngIf="story.selected" (click)="$event.stopPropagation()"
                                (onClosed)="close()" [story]="story" (onFinishedGetArticle)="onOpenStory()"
                                class=" d-block content-article">

            </app-inline-article>

        </mat-card-content>
    </mat-card>
</div>
