<mat-menu #menu="matMenu" [classList]="'mat-menu-display'">
    <button mat-menu-item (click)="$event.stopPropagation()">
        <nz-switch [ngModel]="isDarkMode" nzCheckedChildren="Tối" nzUnCheckedChildren="Sáng"
                   (ngModelChange)="toggleDarkMode($event)"></nz-switch>


    </button>

    <div mat-menu-item>
        <div class="icon-wrapper test-class">
            <span class="text-icon">A</span>
            <nz-slider (ngModelChange)="changeFontSize($event)" [(ngModel)]="fontSize" [nzMax]="maxFontSize"
                       [nzMin]="minFontSize"
                       style="flex:1"></nz-slider>
            <span class="text-icon">A</span>
        </div>

    </div>


</mat-menu>
<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon color="accent">more_vert</mat-icon>
</button>
