<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="$event.stopPropagation()">
        <mat-slide-toggle class="w-100 h-100" [(ngModel)]="isDarkMode" (change)="toggleDarkMode()"
                          labelPosition="before">
            Chế độ ban đêm
        </mat-slide-toggle>

    </button>

    <div mat-menu-item (click)="$event.stopPropagation()" [disableRipple]="true">
        <label class="mr-1">Cỡ chữ {{fontSize}}</label>
        <mat-button-toggle-group name="fontSize" aria-label="Cỡ chữ" [ngModel]="fontSize"  (change)="changeFontSize($event)">

            <mat-button-toggle (click)="$event.stopPropagation()" value="1">Nhỏ</mat-button-toggle>
            <mat-button-toggle (click)="$event.stopPropagation()" value="2">Vừa</mat-button-toggle>
            <mat-button-toggle (click)="$event.stopPropagation()" value="3">To</mat-button-toggle>
        </mat-button-toggle-group>
    </div>



</mat-menu>
<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon color="primary">more_vert</mat-icon>
</button>