@import "../../style/variables";

:host {
  --blur-edge-color: var(--background-color-2);
  --blur-edge-transparent-color: var(--background-color-transparent-2);

}

.article-body {
  font-size: 1.3em;
  line-height: 1.5em;

  img {
    width: 100% !important;
  }

  ::ng-deep {
    video, img {
      width: 100% !important;
      height: auto;
      max-height: initial !important;
    }
    .LinkExpander_Ratio{
      position: relative;
      iframe{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
      }
    }
  }


}

.loading {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.sticky {
  position: sticky;
  top: 10px;
  z-index: 10;

}

.blur-edge {
  width: calc(100% - 8px);

}

.font-size-1 {
  font-size: 14px;
}

.font-size-2 {
  font-size: 16px;
}

.font-size-3 {
  font-size: 18px;

}

