<div #articleView class="w-100 h-100 article  p-1">
    <div class="scrollable">
        <div *ngIf="article;else loading" class="article-content p-2">
            <div class="mat-display-1">
                {{article.header}}
            </div>
            <p [innerHTML]="article.body" class="article-body fadein"></p>
            <div class="source text-right">
                <a mat-button [href]="article.externalUrl" target="_blank"
                   color="warn">Nguồn: {{article.story.storyMeta.source}}</a>
            </div>
        </div>

        <ng-template #loading>
            <app-loading></app-loading>
        </ng-template>
    </div>


</div>
