<div class=" h-100 article  position-relative mat-elevation-z8" [ngStyle]="{'font-size.px':fontSize}">
    <div class="navigator navigator-prev">
        <a (click)="prevArticle()" mat-icon-button>
            <mat-icon>chevron_left</mat-icon>
        </a>
    </div>
    <div class="scrollable panel-primary "  #articleView>
        <div *ngFor="let id of [articleId]" style="position: relative" @showArticle>

            <div *ngIf="article; else loading" class="article-content p-2  pb-5 pt-3">
                <div #articleHeader class="article-header" [ngClass]="{'stick':isStickHeader}">
                    <div class="mat-display-1 mb-2 accent-color article-title ">
                        {{article.header}}
                    </div>
                    <app-actions [article]="article"></app-actions>
                    <div class="blur-edge blur-top"></div>

                </div>


                <p [innerHTML]="article.description | sanitizeHtml" class="article-body fadein" *ngIf="article.description"></p>

                <p [innerHTML]="articleBody | sanitizeHtml" class="article-body fadein" #articleContent></p>
                <div class="source text-right">
                    <a mat-button [href]="article.sourceUrl" rel="noreferrer" target="_blank" color="accent">Nguồn:
                        {{article.sourceName}}</a>
                </div>
                <app-comments [articleId]="article.id"></app-comments>
            </div> 
            <ng-template #loading>
                <app-loading></app-loading>
            </ng-template>
        </div>
    </div>
    <div class="blur-edge blur-bottom"></div>
    <div class="navigator navigator-next">
        <a (click)="nextArticle()" mat-icon-button>
            <mat-icon>chevron_right</mat-icon>

        </a>
    </div>

</div>