
.article-body {
  font-size: 1.3em;
  line-height: 30px;

  img {
    width: 100% !important;
  }

  ::ng-deep {
    iframe, video, img {
      width: 100% !important;
      height: auto;
    }
  }

}

.sticky {
  position: sticky;
  top: 10px;
  z-index: 10;

}

.font-size-1 {
  font-size: 14px;
}

.font-size-2 {
  font-size: 16px;
}

.font-size-3 {
  font-size: 18px;

}
