
.article-body {
  font-size: 1.3em;

  img {
    width: 100% !important;
  }

  ::ng-deep iframe {
    width: 100%;
  }

}

.sticky {
  position: sticky;
  top: 10px;
  z-index: 10;

}

.font-size-1 {
  font-size: 14px;
}

.font-size-2 {
  font-size: 16px;
}

.font-size-3 {
  font-size: 18px;

}