:host {
  flex: 1;
  footer {
    align-items: center !important;
    .time {
      color: var(--foreground-color);
      font-size: 0.9em;
    }
    .icon {
      height: 20px;
      width: auto;
      object-fit: contain;
    }
  }
}
